body {
  margin:0px;
  background-color:rgba(248, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1003px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u0 {
  position:absolute;
  left:629px;
  top:470px;
  width:78px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u2 {
  position:absolute;
  left:640px;
  top:432px;
  width:256px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-8px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:2px;
}
#u4 {
  position:absolute;
  left:476px;
  top:393px;
  width:219px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6 {
  position:absolute;
  left:425px;
  top:283px;
  width:200px;
  height:1px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u8 {
  position:absolute;
  left:274px;
  top:137px;
  width:167px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:2px;
}
#u10 {
  position:absolute;
  left:302px;
  top:249px;
  width:190px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11 {
  position:absolute;
  left:2px;
  top:-8px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
}
#u12 {
  position:absolute;
  left:156px;
  top:112px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u14 {
  position:absolute;
  left:326px;
  top:112px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
}
#u16 {
  position:absolute;
  left:326px;
  top:333px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
}
#u18 {
  position:absolute;
  left:514px;
  top:482px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:2px;
  top:13px;
  width:138px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u20 {
  position:absolute;
  left:326px;
  top:258px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u22 {
  position:absolute;
  left:326px;
  top:181px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
}
#u24 {
  position:absolute;
  left:514px;
  top:258px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
}
#u26 {
  position:absolute;
  left:514px;
  top:333px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
}
#u28 {
  position:absolute;
  left:514px;
  top:407px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:138px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u30 {
  position:absolute;
  left:685px;
  top:407px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u32 {
  position:absolute;
  left:861px;
  top:407px;
  width:142px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#566FE0;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u34 {
  position:absolute;
  left:451px;
  top:322px;
  width:78px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u35 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
